version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: coup-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
